@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

*{
    --color-verde: #06945b;
    --color-verde-claro: #68e5a2;
    --color-piel: #f1b280;
    --color-azul: #395be0;
    --color-amarillo: #fae053;
}
header{
    font-family: 'Open Sans', Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    background-color: var(--color-piel);
    cursor: pointer;
}
a{
    padding: 0px 20px;
    margin: 0px 1.5px;
    border: 2px solid var(--color-piel);
    /* background-color: var(--color-azul); */
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    text-decoration: none;
    font-size: 21px;
    user-select: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}